body{
  margin: 0;
}

.menu-design{
  padding: 30px; margin: auto; height: 60px; width: 490px;
  margin-bottom: 50px;
  margin-top: 30px;
  border-radius: 10%;
  background-color: #4CaF50;
}

.description{
  background-color: #ddd;
}

.menu{
width: 100%;
height: 63px;
background-color: #333;
}

.menu a{
  float: left;
   display: block;
   color: white;
   text-align: center;
   text-decoration: none;
   padding: 20px 18px;
   font-size: 20px ;
}

 .menu a:hover{
   background-color: #ddd;
   color: black;
 }

 .menu a.active{
   background-color: #4caF50; color: white;
 }

 .menu a.youtube{
   background-color: #4caF50; color: white;
 }

 .menu a.spotify{
   background-color: #4caF50; color: white;
 }
 .menu a.soundcloud{
   background-color: #4caF50; color: white;
 }
 .menu a.amazon{
   background-color: #4caF50; color: white;
 }
 .menu a.itunes{
   background-color: #4caF50; color: white;
 }

}
.menu a.comparison{
  background-color: #4caF50; color: white;
}

.menu a.history{
  background-color: #4caF50; color: white;
}

p{
  text-align: center;
  text-decoration-color: green;
}
h1{
  text-align: center;
  text-decoration: underline;
  font-size: 250%;
}
.menu_Description{
  font-size: 150%;
}
